<main
  class='w-full min-h-[500px] bg-black text-white md:flex md:flex-col md:justify-center md:items-center lg:min-h-0 lg:h-[35vh]'
>
  <section
    class='w-full flex flex-col justify-center gap-5 py-10 px-8 md:flex-row max-w-6xl md:justify-between md:gap-0'
  >
    <h2
      class='font-bigShoulder text-7xl mb-5 md:mb-0 md:self-start mb:text-8xl md:min-w-[50%]'
    >
      OUR <br class='hidden md:inline' />
      LOCATION
    </h2>
    <div class='flex flex-col justify-center gap-5 md:max-w-[50%]'>
      <p class='font-bigShoulder text-4xl font-bold text-orange uppercase'>
        99 King Street
      </p>
      <address class='not-italic'>
        Newport <br />
        RI 02840 <br />
        United States of America
      </address>
      <p>
        Our newly opened gallery is located near the Edward King House on 99
        King Street, the Modern Art Gallery is free to all visitors and open
        seven days a week from 8am to 9pm.
      </p>
    </div>
  </section>
</main>
