<main
  class='flex flex-col gap-8 px-4 md:mt-32 md:px-10 md:min-h-fit lg:max-w-6xl lg:mx-auto lg:px-0'
>
  <section
    class='w-full md:max-h-fit space-y-4 md:grid md:grid-cols-sec1 md:grid-rows-1'
  >
    <img
      src='/assets/mobile/mobile-grid-1.jpg'
      srcset='
            /assets/mobile/mobile-grid-1@2x.jpg    500w,
            /assets/tablet/tablet-grid-1.jpg       800w,
            /assets/tablet/tablet-grid-1@2x.jpg   1000w,
            /assets/desktop/desktop-grid-1@2x.jpg 1500w
          '
      alt=''
      class='w-full md:h-full object-fit md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-2'
    />
    <article
      class='space-y-4 md:col-start-1 md:col-end-2 md:row-start-1 md:row-end-2 md:w-2/3'
    >
      <h2 class='font-bigShoulder text-6xl uppercase'>
        Your Day at the Gallery
      </h2>
      <p class='text-lg font-light text-gray'>
        Wander through our distinct collections and find new insights about our
        artists. Dive into the details of their creative process.
      </p>
    </article>
  </section>
  <section
    class='w-full space-y-4 md:max-h-fit md:space-y-0 md:grid md:grid-cols-sec2 md:grid-rows-sec2 md:gap-3'
  >
    <article class='md:col-start-1 md:col-end-2 md:row-start-1 md:row-end-3'>
      <img
        src='/assets/mobile/mobile-grid-2.jpg'
        srcset='
              /assets/mobile/mobile-grid-2@2x.jpg    500w,
              /assets/tablet/tablet-grid-2.jpg       800w,
              /assets/tablet/tablet-grid-2@2x.jpg   1000w,
              /assets/desktop/desktop-grid-2@2x.jpg 1500w
            '
        alt=''
        class='w-full md:h-full md:object-cover'
      />
    </article>
    <article class='md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-2'>
      <img
        src='/assets/mobile/mobile-grid-3.jpg'
        srcset='
              /assets/mobile/mobile-grid-3@2x.jpg    500w,
              /assets/tablet/tablet-grid-3.jpg       800w,
              /assets/tablet/tablet-grid-3@2x.jpg   1000w,
              /assets/desktop/desktop-grid-3@2x.jpg 1500w
            '
        alt=''
        class='w-full md:h-full md:object-cover'
      />
    </article>
    <article
      class='min-h-[300px] flex flex-col justify-evenly px-10 bg-black text-white md:h-full md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3 md:px-5'
    >
      <h2 class='font-bigShoulder text-6xl uppercase'>COME & BE INSPIRED</h2>
      <p class='text-lg font-light lg:text-xl'>
        We’re excited to welcome you to our gallery and see how our collections
        influence you.
      </p>
    </article>
  </section>
</main>
